row-head {
	flex-shrink: 0;
	height: calc(12px * 8);
	/* background-color: red; */
	box-shadow: 0 2px 0 rgb(var(--blue) / 10%);
}
row-foot {
	flex-shrink: 0;
	height: calc(12px * 4);
	/* background-color: green; */
}

row-line {
	flex-shrink: 0;
	height: calc(12px * 2.5);
	/* background-color: blue; */
	box-shadow: 0 2px 0 rgb(var(--blue) / 10%);
}
