@import url(https://cdn.jsdelivr.net/npm/firacode@6.2.0/distr/fira_code.css);

@supports (font-variation-settings: normal) {
	code,
	input {
		font-family: "Fira Code VF", monospace;
	}
}

col-m {
	input,
	code {
		background-color: red;
		opacity: 0.5;

		padding: 0 calc(12px * 2);

		font-size: 14px;
		font-weight: 400;
		font-family: "Fira Code", monospace;

		white-space: pre;
	}

	input {
		display: block;
		position: absolute;
		inset: 0;
	}

	code {
		display: flex;
		align-items: center;

		height: 100%;

		symbol-name {
			font-weight: 600;
		}
		symbol-arrow {
			font-weight: 300;
			opacity: 0.5;

			padding: 0 4px;
		}
		symbol-number {
			color: orangered;
		}
	}
}
